/* Scroll container styles */
.scroll-container {
  @apply relative w-full overflow-hidden;
  aspect-ratio: var(--slide-aspect-ratio);
  padding-top: var(--header-height);
}

/* Scroll item styles */
.scroll-item {
  @apply absolute left-0 flex items-center justify-center opacity-0;
  top: var(--header-height);
  width: 100%;
  height: calc(100% - var(--header-height));
}

/* Image container styles */
.image-container {
  @apply relative w-full h-full overflow-hidden;
}

.image-container img {
  @apply w-full h-full object-cover;
}

/* Caption styles */
.textbox {
  @apply absolute bg-white text-black p-3 opacity-0 pointer-events-none leading-relaxed shadow-lg;
  max-width: 40%;
  font-size: 0.9rem;
  letter-spacing: 0.015em;
  min-width: 30%;
  min-height: 6rem;
}

.caption-header {
  @apply block font-semibold;
}


/* Caption positioning based on data attributes */
[data-textbox-position='left'] .textbox {
  @apply top-1/2 left-6;
}

[data-textbox-position='right'] .textbox {
  @apply top-1/2 right-6 text-right;
}

/* Responsive styles */
@media (max-width: 768px) {
  .textbox {
    max-width: 80%;
    font-size: 1rem;
  }
}
